@model IEnumerable<ScheduleMedicControl.Business.Models.Clinica>

@using GridMvc.Html

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Clinicas</h2>

@using (Html.BeginForm("VagasNaData", "Clinica", FormMethod.Post, htmlAttributes: new { @class = "form-inline", id = "formDetails" }))
{
    <div class="form-group">
        <label id="ReportBeginDate">Quantidade de vagas nesta data: </label>
        <input type="date" id="BeginDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        <input style="margin:5px" id="submit" type="submit" value="Submit" class="btn btn-primary pull-right" />
    </div>

}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.Nome).Titled("Nome");
    columns.Add(foo => foo.CNPJ).Titled("Cnpj");
    columns.Add(foo => foo.Telefone).Titled("Telefone").Sortable(true);
    columns.Add(foo => foo.Endereco).Titled("Endereço").Sortable(true);
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(edit => Html.ActionLink("Edit", "Edit", new { id = edit.Id }, new { @class = "btn btn-info fa fa-pencil" }).ToHtmlString());
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(details => Html.ActionLink("Details", "Details", new { id = details.Id }, new { @class = "btn btn-info fa fa-pencil" }).ToHtmlString());
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(delete => Html.ActionLink("Delete", "Delete", new { id = delete.Id }, new { @class = "btn btn-info fa fa-pencil" }).ToHtmlString());
}).WithPaging(5)
</div>


